[submodule "awesome/.config/awesome/awesome-wm-widgets"]
	path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
	branch = main
[submodule "awesome/.config/awesome/bling"]
	path = awesome/.config/awesome/bling
	url = https://github.com/BlingCorp/bling.git
	branch = main
[submodule "awesome/.config/awesome/freedesktop"]
	path = awesome/.config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
	branch = main
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
	branch = main
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = main
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = main
[submodule "zsh/.config/zsh/plugins/git-prompt.zsh"]
	path = zsh/.config/zsh/plugins/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh.git
	branch = main
[submodule "zsh/.config/zsh/plugins/zsh-autopair"]
	path = zsh/.config/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
	branch = main
[submodule "zsh/.config/zsh/plugins/fzf"]
	path = zsh/.config/zsh/plugins/fzf
	url = https://github.com/junegunn/fzf.git
	branch = main
[submodule "zsh/.config/zsh/plugins/zsh-completions"]
	path = zsh/.config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = main
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:arminveres/nvim.git
	branch = main
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:arminveres/tmux.conf
	branch = main
[submodule "dotfiles-secret"]
	path = dotfiles-secret
	url = git@github.com:arminveres/dotfiles-secret
[submodule "awesome-vert/.config/awesome/mods/bling"]
	path = awesome-vert/.config/awesome/mods/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "awesome-vert/.config/awesome/mods/battery-widget"]
	path = awesome-vert/.config/awesome/mods/battery-widget
	url = https://github.com/deficient/battery-widget.git
[submodule "awesome-vert/.config/awesome/mods/layout-machi"]
	path = awesome-vert/.config/awesome/mods/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi.git
[submodule "awesome-vert/.config/awesome/mods/lua-pam"]
	path = awesome-vert/.config/awesome/mods/lua-pam
	url = https://github.com/RMTT/lua-pam.git
[submodule "awesome-vert/.config/awesome/mods/awesome-battery_widget"]
	path = awesome-vert/.config/awesome/mods/awesome-battery_widget
	url = https://github.com/Aire-One/awesome-battery_widget.git
