# specific files
**/zsh_history
**/.zcompdump
*.bak
**/vifminfo.json
**/vifminfo
GTK/.config/gtk-2.0/gtkfilechooser.ini
GTK/.config/gtk-3.0/servers
GTK/.config/gtk-3.0/custom-papers
GTK/.config/gtk-3.0/bookmarks
GTK/.config/gtk-4.0/servers
GTK/.config/gtk-4.0/gtk-dark.css
GTK/.config/gtk-4.0/gtk.css
GTK/.config/gtk-4.0/assets
gitui/.config/gitui/theme.ron.old
.comments/
awesome-vert/.config/awesome/misc/.information

# general files
*.log
**/.uuid
zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zsh_sessions/_expiration_check_timestamp
zsh/**/*.session
.zcompcache

.DS_Store
