# specific files
**/zsh_history
tags
**/.zcompdump
**/packer_compiled.lua
*.bak
**/vifminfo.json
**/vifminfo
.luarc.json

# general files
*.log
dotfiles/GTK/.config/gtk-3.0/bookmarks
dotfiles/GTK/.config/gtk-4.0/gtk-dark.css
dotfiles/GTK/.config/gtk-4.0/gtk.css
dotfiles/GTK/.config/gtk-4.0/assets
