* {
  font-family: "MesloLGS Nerd Font Mono";
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(29, 32, 33, 0.95);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #d65d0e;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #665c54;
}

#text {
  margin: 2px;
}
