* {
  border: none;
  border-radius: 0;
  font-family: 'MesloLGS Nerd Font Mono';
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(28, 32, 35, 0.8);
  color: white;
}

#window {
  font-weight: bold;
  font-family: 'MesloLGS Nerd Font Mono';
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.active {
  color: white;
  background: #285577;
  font-weight: bold;
  /* border-top: 2px solid #5e81ac; */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#pulseaudio.muted {
  padding: 0 4px;
  margin: 0 6px;
}

#window,
#workspaces {
  padding: 0 4px;
}

#clock {
  font-weight: bold;
}

#battery {
}

#battery icon {
  color: red;
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}
