[Desktop Entry]
Name=Neovide
GenericName=Rust Based GUI for the NeoVim Text Editor
Comment=Edit text files
TryExec=neovide
Exec=neovide %F
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=/home/arminveres/.local/share/applications/neovide.png
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
X-Desktop-File-Install-Version=0.26
