/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* { // could append 2 hex for transparency
    background:     #000000;
    background-alt: #101010;
    foreground:     #FFFFFF;
    // selected:       #62AEEF;
    selected:       #FF8C00;
    active:         #98C379;
    urgent:         #E06B74;
}

// vim: ft=sass
